@model IEnumerable<Finaliglesia.Models.Ceremonia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="ceremonias2"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
<script>
    $(document).ready(
        $("#ceremonias2").load('/MiembroCeremonias/ListaCeremonias')
        );

</script>
}
