@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IGLESIA SAN ROQUE</h1>
    <p class="text-center">
        <img src="@Url.Content("~/Images/iglesia.jpg")" class="img-rounded" alt="imgf" />
    </p>
    <p class="lead">IGLESIA is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <hr />
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>HISTORIA</h2>
        <p>
            Iglesia de San Roque esta ubicada en la Parroquia de Huachi Chico de la Ciudad de Ambato, fue fundada en el año de 1970,
            esta Parroquia esta conformada por 12 capillas y una Iglesia Matriz. Su población es aproximadamente de 38.292habitantes, 
            de los cuales los niños se preparan para recibir los diferentes sacramentos.
            Así como también se realizan de las diferentes ceremonias en las iglesias de esta parroquia..
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MISION Y VISION</h2>
        <p>Nuestra Visión
Impactar positivamente a nuestras familias, vecinos y comunidad con el amor de Cristo.
Nuestra comunidad es Lowell y las ciudades circunvecinas.
 Nuestra Misión
Alcanzar a nuestros familiares, vecinos y comunidad para Cisto a través de un evangelismo activo, significante y relacional.
Formar a los nuevos convertidos en creyentes maduros y espirituales.
Ayudar a que descubran los ministerios y dones que Dios tiene para cada uno de ellos.
Proveer una oportunidad para que ministren y sirvan fielmente a Dios, a su congregación y a su comunidad.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CONTACTOS</h2>
        <p>FACEBOOK: IGLESIA SAN ROQUE
           WWW.IGLESIASANROQUE.COM
           DIRECCION: HUACHI LA MAGDALENA 
           TELEFONO: 032831074
           CELULAR:  0987370177</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>