@model Finaliglesia.Models.Tipoiglesia

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Tipoiglesia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TipoiglesiaID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Regresar", "Index",null, new { @class = "btn btn-primary" })
</p>
