@model Finaliglesia.Models.Sacramento

@{
    ViewBag.Title = "Details";
}

<h2>Detalles Sacramento</h2>

<div>
   @* <h4>Sacramento</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DetalleSacramento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetalleSacramento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.SacramentoID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
