
@{
    ViewBag.Title = "Index";
}

<h2>Catequistas</h2>
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<p>
    <div id="ceremodiv"></div>
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(
        $("#ceremodiv").load('Catequistas/ListaCatequistas')
        );
    </script>
}