
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<p>
    <div id="ceremoniasdiv"></div>
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(
        $("#ceremoniasdiv").load('Catequistas/ListaCatequista')
        );
    </script>
}