
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<p>
    <div id="directivasdiv"></div>
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(
        $("#directivasdiv").load('Directivas/ListaDirectivas')
        );

    </script>
}
