

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Matriculas</h2>
<p>
    @Html.ActionLink("Regresar","Index","MiembroMatriculas")
</p>
<p>
    <div id="matridiv"></div>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(
        $("#matridiv").load('Matriculas/ListaMatriculas')
        );

    </script>
}