@model Finaliglesia.Models.MiembroCeremonia

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>MiembroCeremonia</h4>
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.CeremoniasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CeremoniasId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MiembroCeremoniaID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
