@model IEnumerable<Finaliglesia.Models.MiembroCeremonia>

@{
    ViewBag.Title = "Detalle de Ceremonias";
}

<h2>Index</h2>
<div>
    <div class="form-group">
        @Html.ActionLink("Crear Ceremonia", "Create", "Ceremonias", null, new { @class = "btn btn-primary" })

        @Html.ActionLink("Lista de Ceremonias", "Index", "Ceremonias", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div id="MienCer"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
    $(document).ready(
        $("#MienCer").load('/MiembroCeremonias/ListaMiemboCeremonia')
        );

    </script>
}