

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   <div id="iglesisdiv"></div>
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(
        $("#iglesisdiv").load('Home/ListaIglesias')
        );

    </script>
}