@model IEnumerable<Finaliglesia.Models.Iglesia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
Iglesias:
<select id="cbxIglesia" class="selectpicker">
    @foreach (var item in Model)
            {
        <option value="@Html.DisplayFor(modelItem => item.IglesiaID)">@Html.DisplayFor(modelItem => item.Nombre)</option>

    }
</select>
